@page "/ibge"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

<PageTitle>IBGE</PageTitle>

@if (_listPlaces is null)
{
    <div class="container">
        <div class="form-inline d-flex align-items-center">
            <em>Não foi possivel carregar os dados...</em>
            <button class="btn btn-outline-info m-2" @onclick="OnInitializedAsync">Refresh</button>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="form-inline d-flex align-items-center">
            <a class="btn btn-success me-2" href="create-ibge" style="width: 200px"><Icon Name="IconName.PlusSquare" class="me-1" />Create Place</a>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" @bind="@data">
            <button class="btn btn-outline-info" style="width: 200px" @onclick="() => Search(data)"><Icon Name="IconName.Search" class="me-1" />Search</button>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th>City</th>
                <th>State</th>
                <th>CodeIbge</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _listPlaces)
            {
                <tr>
                    <td>@item.City</td>
                    <td>@item.State</td>
                    <td>@item.CodeIbge</td>
                    <td>
                        <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                            <button class="btn btn-outline-danger me-2 mb-2 mb-sm-0" @onclick="() => DeleteAsync(item.CodeIbge)">
                                <Icon Name="IconName.Delete" class="me-1" />
                                Delete
                            </button>
                            <button class="btn btn-outline-info" @onclick="() => UpdateAsync(item.CodeIbge)">
                                <Icon Name="IconName.Edit" class="me-1" />
                                Update
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string? data;
    private List<Place> _listPlaces = new List<Place>();
    private Place _place = new Place();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            int skip = 0;
            int take = 12;

            var client = new RestClient();
            var request = new RestRequest($"https://localhost:7122/v1/ibges?skip={skip}&take={take}");
            _listPlaces = await client.GetAsync<List<Place>>(request);
        }
        catch (Exception)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Falha ao carregar Places");
        }        
    }

    public async Task UpdateAsync(string codeIbge)
    {
        await GetByCodeIbgeAsync(codeIbge);

        var jsonBody = JsonSerializer.Serialize(_place);

        await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "place", $"{jsonBody}");

        NavigationManager.NavigateTo("/update-ibge", true);
    }

    public async Task DeleteAsync(string codeIbge)
    {
        try
        {
            await GetByCodeIbgeAsync(codeIbge);

            var token = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "token");

            var client = new RestClient();
            var request = new RestRequest($"https://localhost:7122/v1/ibges/id?id={_place.Id}");
            request.AddHeader("Authorization", $"Bearer {token}");

            var response = await client.DeleteAsync(request);

            NavigationManager.NavigateTo("/ibge", true);
        }
        catch (Exception)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Falha ao deletar Place");
        }
        
    }

    public async Task Search(string data)
    {
        if (string.IsNullOrEmpty(data))
        {
            return;
        }

        if (data.Length == 2)
        {
            await GetByStateAsync(data);
            return;
        }

        if (data.All(char.IsDigit) && data.Length == 7)
        {
            await GetByCodeIbgeAsync(data);
            return;
        }

        await GetByCityAsync(data);
    }

    public async Task GetByCityAsync(string cityName)
    {
        _listPlaces.Clear();

        var client = new RestClient();
        var request = new RestRequest($"https://localhost:7122/v1/ibges/city?city={cityName}");
        _listPlaces = await client.GetAsync<List<Place>>(request);
    }

    public async Task GetByStateAsync(string stateName)
    {
        _listPlaces.Clear();

        var client = new RestClient();
        var request = new RestRequest($"https://localhost:7122/v1/ibges/state?state={stateName}");
        _listPlaces = await client.GetAsync<List<Place>>(request);
    }

    public async Task GetByCodeIbgeAsync(string codeIbge)
    {
        _listPlaces.Clear();

        var client = new RestClient();
        var request = new RestRequest($"https://localhost:7122/v1/ibges/codeIbge?codeIbge={codeIbge}");
        _place = await client.GetAsync<Place>(request);

        _listPlaces.Add(_place);
    }
}
