@page "/auth"
@page "/"
@using System.Net
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Login</h3>
                    <form>
                        <div class="mb-2">
                            <label for="email"><strong>Email</strong></label>
                            <input type="email" class="form-control" placeholder="Enter your email address" @bind="_email">
                        </div>
                        <div class="mb-2">
                            <label for="password"><strong>Password</strong></label>
                            <input type="password" class="form-control" placeholder="Enter your password" @bind="_password">
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-success mt-2" @onclick="CreateAsync">
                                <Icon Name="IconName.ArrowRight" class="me-1" /> Sign In
                            </button>
                        </div>
                    </form>
                </div>
                <SnackbarStack @ref="snackbarStack" Location="SnackbarStackLocation.BottomEnd" />
            </div>
        </div>
    </div>
</div>



@code {
    private string? _email;
    private string? _password;

    private string? _message;
    SnackbarStack snackbarStack = new SnackbarStack();

    public async Task CreateAsync()
    {
        try
        {
            if (string.IsNullOrEmpty(_email) || string.IsNullOrEmpty(_password))
                return;

            var jsonBody = new
            {
                email = new
                {
                    address = _email
                },
                password = _password
            };

            var client = new RestClient();
            var request = new RestRequest(Endpoint.Login.GetEnumDescription()).AddJsonBody(jsonBody);
            var response = await client.PostAsync(request);

            if (response.IsSuccessful)
            {
                var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
                var responseObject = JsonSerializer.Deserialize<AuthResponse>(response.Content, options);

                await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "token", responseObject.Token);

                _message = "Login successfully ";
                await snackbarStack.PushAsync(_message, SnackbarColor.Success);

                NavigationManager.NavigateTo("/ibge", true);
            }
        }
        catch (Exception)
        {
            _message = "Unable to login ";
            await snackbarStack.PushAsync(_message, SnackbarColor.Danger);
        }
        
    }
}
